<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Blog</title>
</head>
<body>
<header th:replace="layout :: site-header" />
<!-- Page Content -->
<div class="container">



    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <img src="../static/img/man.png" style=" height: 180px;  align-content: inherit; float:right"/>
        <h2>All4Man</h2>
        <p>Największy sklep z luksusową odzieżą męską oraz akcesoriami dla panów. Zapraszamy do zakupów!</p>

    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Najnowsze produkty</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature" th:each="p: ${krawaty}">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt=""/>
                <div class="caption">
                    <h3 th:text="${p.title}">Tytul</h3>
                    <p th:text="${p.shortDesc}">Krotki opis</p>
                    <p>
                        <a href="#" th:href="@{/product/buy/{id}/(id=${p.id})}" class="btn btn-primary">Kup Teraz!</a>
                        <a href="#" th:href="@{/product/{id}/(id=${p.id})}" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>



    </div>
    <!-- /.row -->

    </hr>
</div>

<footer th:replace="layout :: site-footer" />
</body>
</html>