<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
    <title>Sklep online - O nas</title>
</head>
<body>
<header th:replace="layout :: site-header" />


<!-- Page Content -->
<div class="container">



    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <img src="../../static/img/man.png" style=" height: 180px;  align-content: inherit; float:right"/>
        <h2>All4Man</h2>
        <p>Największy sklep z luksusową odzieżą męską oraz akcesoriami dla panów. Zapraszamy do zakupów!</p>

    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">

            Jako firma odzieżowa czerpiemy inspirację z ulic europejskich stolic świata mody Londynu, Mediolanu, Paryża i Barcelony. Współpracujemy z oficjalnymi dystrybutorami wielu europejskich marek, co gwarantuje Państwu legalne pochodzenie i jakość produktów  podaną w najnowszych światowych trendach.

            Ponieważ jesteśmy bezpośrednim importerem większości oferowanych marek oferujemy atrakcyjne ceny kolekcji. Nasze ubrania są starannie wyselekcjonowane przez stylistów dzięki czemu są zawsze na czasie, dzięki naszym ubraniom będziesz wyglądał modnie i indywidualnie.
        </div>
    </div>
    <!-- /.row -->



    </hr>
</div>

</body>
</html>